---
import { Picture } from 'astro:assets'
import winterVillage from '@/assets/images/bg.webp'

import Meteors from '@/components/ui/meteors.svelte'
import { cn } from '@/lib/utils'

interface IButtons {
    id: string
    text: string
    href: string
}
const buttons: IButtons[] = [
    {
        id: 'about-button',
        text: 'About',
        href: '/about',
    },
    {
        id: 'portfolio-button',
        text: 'Portfolio',
        href: '/portfolio',
    },
    {
        id: 'blog-button',
        text: 'Blog',
        href: '/blog',
    },
    {
        id: 'fun-button',
        text: 'Fun',
        href: '/fun',
    },
]
---

<script>
    import { gsap } from 'gsap'

    const enterAnim = gsap.timeline({ delay: 2 })
    enterAnim
        .fromTo('#hero-overlay', { opacity: 1 }, { opacity: 0, duration: 0.5 })
        .fromTo(
            '#hero-title',
            {
                opacity: 0,
            },
            {
                duration: 1,
                opacity: 1,
                delay: 1,
                ease: 'power2.out',
            }
        )
        .fromTo(
            '#hero-subtitle',
            {
                opacity: 0,
            },
            { duration: 0.75, opacity: 1, ease: 'power2.out' },
            '-=0.5'
        )
        .fromTo(
            '#about-button',
            {
                opacity: 0,
                x: -100,
            },
            {
                duration: 0.5,
                opacity: 1,
                x: 0,
                ease: 'back.out',
            }
        )
        .fromTo(
            '#portfolio-button',
            {
                opacity: 0,
                y: -100,
            },
            {
                duration: 0.5,
                opacity: 1,
                y: 0,
                ease: 'back.out',
            },
            '-=0.3'
        )
        .fromTo(
            '#blog-button',
            {
                opacity: 0,
                x: 100,
            },
            {
                duration: 0.5,
                opacity: 1,
                x: 0,
                ease: 'back.out',
            },
            '-=0.3'
        )
        .fromTo(
            '#fun-button',
            {
                opacity: 0,
                y: 100,
            },
            {
                duration: 0.5,
                opacity: 1,
                y: 0,
                ease: 'back.out',
            },
            '-=0.3'
        )
</script>

<section class="relative snap-start overflow-hidden">
    <Picture
        src={winterVillage}
        alt=""
        aria-hidden
        formats={['avif', 'webp']}
        class="h-screen w-full object-cover object-bottom"
        height={720}
        width={1280}
    />
    <Meteors client:idle number={15} />
    <div id="hero-overlay" class="absolute inset-0 bg-polar-0"></div>
    <div
        id="hero-content"
        class="absolute inset-0 flex select-none justify-center bg-polar-0/60 font-winter text-snow-2"
    >
        <div
            class="flex max-w-screen-xl flex-col items-center justify-center p-8"
        >
            <h1
                id="hero-title"
                class="mb-2 text-center text-6xl font-bold lg:mb-3 lg:text-8xl"
            >
                Hi! I'm LinCie
            </h1>
            <div
                id="hero-subtitle"
                class="mb-4 max-w-screen-md text-center text-lg lg:mb-6 lg:text-2xl"
            >
                A marketing student, self-taught web developer, and a passionate
                language learner from Indonesia
            </div>
            <div class="flex gap-4 lg:gap-5">
                {
                    buttons.map((button) => {
                        return (
                            <a href={button.href} id={button.id}>
                                <button
                                    class={cn(
                                        'rounded-md px-3 py-2 text-sm font-bold outline outline-2 outline-snow-2 lg:px-4 lg:py-2 lg:text-base',
                                        'outline-snow-0 transition hover:bg-snow-0 hover:text-polar-0 hover:shadow-md active:opacity-90'
                                    )}
                                    set:text={button.text}
                                />
                            </a>
                        )
                    })
                }
            </div>
        </div>
    </div>
</section>
