---
import '@/styles/globals.css'
import '@fontsource/mountains-of-christmas'
import '@fontsource-variable/fira-code'

const { title }: { title?: string } = Astro.props

import { SEO } from 'astro-seo'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <SEO
            title={title ?? 'LinCie'}
            description="LinCie's personal website"
            openGraph={{
                basic: {
                    title: title ?? 'LinCie',
                    type: 'portfolio',
                    image: '/nagusa.webp',
                },
            }}
            twitter={{
                creator: '@linciethesecond',
            }}
            extend={{
                link: [{ rel: 'icon', href: '/favicon.webp' }],
                meta: [
                    {
                        name: 'twitter:image',
                        content: '/nagusa.webp',
                    },
                    {
                        name: 'twitter:title',
                        content: title ?? 'LinCie',
                    },
                    {
                        name: 'twitter:description',
                        content: "LinCie's personal website",
                    },
                ],
            }}
        />
    </head>
    <body>
        <div class="min-h-screen bg-polar-0 text-snow-2">
            <slot />
        </div>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
